html, body {
  width: 100vw;
  max-width: 100vw;
}

#page {
  width: 100%;
  max-width: 80rem;
  margin: auto;
  @media (min-width: 64rem) {
    padding: var(--dashi-space-l);
    gap: var(--dashi-space-l);
  }
  @media (max-width: calc(64rem - 1px)) {
    padding: var(--dashi-space-s);
  }
  > main {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}

form {
  display: grid;
  gap: var(--dashi-space-m);
  @media (min-width: 64rem) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: calc(64rem - 1px)) {
    grid-template-columns: 1fr;
  }
  .action-bar {
    grid-column: 1/-1;
  }
}
